@CHARSET 'UTF-8';
#member_main dl {
    width:500px;
    margin:15px auto;
    font-size: 14px;
    border-bottom:1px dashed #999;
}
#member_main dl dd{
    padding:10px 0;
    border-bottom:1px dashed #999;
}